.btn-primary:hover{
	background-color: #86d0f4 !important;
	border-color: #86d0f4 !important;
	color: white !important;
	background-image: none !important;
}

button:hover{
	border-color: #00266C!important;
	color: white!important;
	background-image: none !important;
}

.custom_footer-wrap{
	background-color: #004b93;
	color: #fff;
	margin-top: 20px;
	width: 100%;
}


.custom_footer-wrap .col-three > div {
	float: left;
}
.custom_footer-wrap.col-three .col-left {
	text-align: left;
	display: none;
}
.custom_footer-wrap .col-three .col-center {
	text-align: center;
	width: 50%;
}
.custom_footer-wrap .col-three .col-right {
	text-align: center;
	width: 50%;
}

body.home .custom_footer-wrap .col-three .col-left {
	width: 30%;
	display: block;
}
body.home .custom_footer-wrap .col-three .col-center {
	width: 40%;
}
body.home .custom_footer-wrap .col-three .col-right {
	width: 30%;
}

.custom_footer-wrap h3 {
	text-transform: uppercase;
	color: #fff;
	font-size: 11pt;
	margin-bottom: 10px;
	font-weight: 300;
}

.custom_footer-wrap .links-social {}
.custom_footer-wrap .links-social li,
.custom_footer-wrap .links-social li a {
	width: 46px;
	height: 46px;
}

.custom_footer-wrap .links-social li {
	display: inline-block;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background-color: #86d0f4;
	text-align: center;
	margin: 0 3px;
}
.custom_footer-wrap .links-social li:hover { 
	background-color: #004b93; }

.custom_footer-wrap .links-social li a {
	background-image: url('../img/sprite_social.png');
	background-repeat: no-repeat;
	text-indent: -1000px;
	overflow: hidden;
	display: block;
}

.last_offers {
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
}

.sort_block{
    position: absolute;
    bottom: 20px;
    margin-left: 24px;
}

.pagination_block{
	display: flex;
    float: left;
    clear: left;
}

.search_button:hover{
	background-color: #021f54;
	border: 0px;
}

.eap-sidenav > ul > li > ul .current-menu-item a, .eap-sidenav > ul > li > ul a:hover{
	border-bottom: 2px solid #021f54 !important;
    background: none !important;
}

.eap-sidenav > ul > li > ul li.current-menu-item:before, .eap-sidenav > ul > li > ul li:hover:before{
	color: #021f54 !important;
}

.table_breadcrumb_offer{
	height: 138px;
    margin-bottom: 1rem;
    background-color: #d6d6d6;
    color: #6c757d;
    width: 900px;
    display: inline-block;
    position: absolute;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	padding-left: 40px;
}

.search_button{
    transition: 0.3s all;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: #004b93;
    border: 0px;
    border-radius: 5px;
    line-height: 28px;
    width: 147px;
    position: absolute;
    right: 35px;
    bottom: 35px;
}

.heading_bg{
    background: linear-gradient(90deg, rgba(26,94,162,1) 0%, rgba(255,255,255,1) 0%, rgba(63,138,212,1) 19%, rgba(26,94,162,1) 39%, rgba(26,94,162,1) 63%, rgba(63,138,212,1) 81%, rgba(255,255,255,1) 100%);
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 59px;
}

.serive_square{
	margin-bottom: 0px !important;
    font-size: 21px;
    color: #021f54;
    line-height: 64px;
    margin-left: 20px;
}

.service_square_block{
	position: inherit;
	display: inline-flex;
	margin-top: 20px;
}

.offer_apply_link{
	display: flex; 
	flex-flow: row-reverse;
}

.offer_apply_link:hover{
	text-decoration: none!important;
}

.posts_heading{
	font-size: 24px;
	color: #021f54;
	margin-top: 30px;
}

.equal_opp_title{
	padding-right: 40px;
    padding-left: 40px;
    background-color: #021f54;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    color: white;
    line-height: 73px;
    font-weight: bolder;
    font-size: 28px;
}

.card-header{
	background-color: #76c4eb !important;
    padding-top: 5px !important;
	padding-bottom: 5px !important;
	position: relative;
	border-bottom: none!important;
}

.custom_dropdown_feedback{
	text-align: center;
    font-size: 18px !important;
    line-height: 25px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#primary.two-sidebars #content{
	width: 60% !important;
}

.custom_card_body{
	padding: 0px !important;
    margin-left: 40px !important;
}

.custom_dropdown_arrow{
	height: 12px;
    position: absolute;
    right: 30px;
    top: 26px;
}

.rotate_dropdown_arrow{
	transform: rotate(180deg);
}

.upper_bracket{
	width: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.lower_bracket{
	width: 40px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.blue_cant_ik{
	background-color: #021f54;
    height: 60px;
    width: 41px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-right: 13px solid white;
}

.custom_dropdown_btn{
    font-size: 25px;
    color: #021f54;
    text-transform: uppercase;
    margin-left: 45px;
	font-weight: bold;
	text-decoration: none !important;
	width: 100%;
	text-align: left;
}

.diversity_img_row{
	display: inline-flex;
	margin-top: 35px;
}

.diversity_img_row>img{
	width: 64px;
    height: 64px;
}

.diversity_img_text>span{
	color:#004b93;
	font-size: 24px;
	font-weight: bold;
}

.custom_body_heading{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #004b93;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 50px;
    width: fit-content;
    margin-top: 20px;
}

.blck_number{
	background-color: #76c4eb;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 62px;
}

.blck_descr{
	color: #76c4eb;
	font-style: italic;
	font-size: 18px;
	line-height: 25px;
	padding-top: 20px;
}

.blck_name{
	padding-top: 20px;
	color:#004b93;
	font-size: 18px;
	line-height: 25px;
	width: 60%;
    text-align: center;
}

.blck_img{
	width: 50px;
    height: 50px;
    margin-top: 10px;
}

.diversity_img_row>.diversity_img_text{
    font-size: 18px;
    color: black;
    margin-left: 35px;
    padding-top: 10px;
    line-height: 20px;
}

.actions_blck_row{
	margin-top:25px;
}

.my_custom_card{
    margin-bottom: 60px;
    border: none !important;
}

.flying_plane{
    position: absolute;
    left: -80px;
    bottom: -80px;
    width: 400px;
}

.full_column_img{
	width:100%;
}

.objectives_blocks{
	margin-top: 55px;
    margin-bottom: 80px;
}

.objectives_blocks_descr{
	color:black;
	font-size: 18px;
	text-align: center;
	margin-top:25px;
}

.objectives_blocks>.col-md-4>center>img{
	width: 100px;
	text-align: center;
}

.actions_block{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;
	margin-top:50px;
	margin-bottom:80px;
	border:1px solid #004b93;
	border-radius: 20px;
	position: relative;
}

.custom_dropdown_btn:hover{
	color: #021f54 !important;
	text-decoration: none !important;
}

.posts_heading > img {
	height: 34px;
}

.post_card_like{
	height: auto;
	width:100%;
	border: 1px solid #004b93;
	border-radius: 8px;
	padding: 10px;
}

.post_card_like{
	padding-top: 70px;
	position: relative;
	text-align: center;
	color:#021f54;
	font-size: 20px;
	margin-top: 25px;
}

.post_card_img{
	position: absolute;
	top:10px;
	right:15px;
	height: 35px;
}

.breadcrumbs {
    font-size: 16px !important;
}

.offer_apply_btn{
    transition: 0.3s all;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: #004b93;
    border: 0px;
    border-radius: 5px;
    line-height: 28px;
    padding-right: 30px;
	padding-left: 30px;
	margin-top: 50px;
}
.offer_apply_btn:hover {
	background-color: #021f54;
	border: 0px;
}

.custom_hr {
    width: 100%;
    height: 1px;
	background-color: #aaaaaa;
	margin-top: 80px;
}

.sort_labels{
	color:#004b93;
	font-size: 16px;
	margin-bottom: 0px;
}

.custom_offer_bg{
	background-color: #ebebeb;
    cursor: pointer;
    height: 138px;
    position: relative;
	margin-bottom: 30px;
}
.job_app_head{
    margin-bottom: 15px;
    font-size: 21px;
    color: #004b93;
    font-weight: bolder;
    margin-left: 24px;
    position: absolute;
    top: 25px;
}

.page-item.active .page-link{
	background-color: #004b93 !important;
    border-color: #004b93 !important;
}

.page-link{
	color: #004b93;
}

.card_dates{
	font-size: 18px;
}
.offer_card_type{
	color: #004b93;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 30px;
}
.eap-sidenav > ul{
	background-color: #ebebeb !important;
}
.eap-sidenav > ul > li {
	border: 1px solid #aaaaaa;
    border-bottom: none;
}
.eap-sidenav > ul > li.current-menu-item > a, .eap-sidenav ul > li.current-post-parent > a, .eap-sidenav ul > li.current-menu-parent > a, .menu-parent-video ul > li.video a, .menu-parent-image ul > li.image a, .menu-parent-v360 ul > li.v360 a{
	background-color: #021f54 !important;
	font-weight: 300 !important;
	color: white !important;
}
.eap-sidenav > ul > li.current-menu-item > a:after, .eap-sidenav > ul > li.current-post-parent > a:after, .eap-sidenav > ul > li.current-menu-parent > a:after, .menu-parent-video ul > li.video a:after, .menu-parent-image ul > li.image a:after, .menu-parent-v360 ul > li.v360 a:after{
	width: 0 !important;
    height: 0 !important;
    border-style: solid !important;
    border-width: 23.5px 0 23.5px 13px !important;
    border-color: transparent transparent transparent #021f54 !important;
}
#menu-qui-sommes-nous-en{
	margin-bottom: 0px !important;
    border-bottom: 1px solid #aaaaaa !important;
}
.card_dates>i{
	font-size: 15px !important;
}
.offer_view_btn{
	font-size: 21px !important;
	color: #004b93 !important;
	font-weight: bolder !important;
	position: absolute;
	right: 40px;
    bottom: 10px;
}

.offer_view_btn>img{
	height: 26px;
    margin-left: 10px;
}

.offer_job_card{
	display: inline-flex;
    position: absolute !important;
    bottom: 25px;
    left: 10px;
}

.page_banner{
    width: 100%;
    height: 303px;
	margin-left: 27%;
	position: relative;
}

.breadcrumbs{
    margin-bottom: 18px !important;
    margin-top: 10px !important;
}

.banner_title{
    width: 469px;
    background-color: #021f54;
    position: absolute;
    right: 390px;
    top: 125px;
    text-align: center;
    color: white;
    line-height: 73px;
    font-weight: bolder;
    font-size: 28px;
}

a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
.special_phone{
	width: 100%;
	margin: 0px;
	margin-bottom: -7px;
	margin: 0px !important;
}
.parent_number{
	position: relative;
	top: -7px;
}
.modal-header {
	height: 45px;
	display: flex;
	justify-content: center !important;
	align-items: center;
	border-bottom: none !important;
}
.modal-header span {
	display: block;
	height: 12px;
	width: 12px;
	margin: 5px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.2);
}
.modal-header span.is-active {
	background: rgba(0, 0, 0, 0.4);
	background: #007bff;
}
.my_breadcrumb{
	padding: 0.75rem 1rem;
	margin-bottom: 1rem;
	background-color: #e9ecef;
	border-radius: 0.25rem;
	color: #6c757d;
}





.accord > li > div {
	color: rgba(48, 69, 92, 0.8);
	line-height: 26px;
	letter-spacing: 1px;
	position: relative;
	overflow: hidden;
	max-height: 800px;
	opacity: 1;
	transform: translate(0, 0);
	margin-top: 14px;
/*	z-index: 2;*/
}

.accord {
	list-style: none;
	perspective: 900;
	padding: 0;
	margin: 0;
}
.accord li {
	position: relative;
	padding: 0;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 18px;
}

.collapse_li{
    border-top: 1px dotted #dce7eb;
}

.accord li:nth-of-type(1) {
	animation-delay: 0.5s;
}
.accord li:nth-of-type(2) {
	animation-delay: 0.75s;
}
.accord li:nth-of-type(3) {
	animation-delay: 1s;
}
.accord li:last-of-type {
	padding-bottom: 0;
}
.accord li i {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 12px;
	right: 0;
}
.accord li i:before, ul li i:after {
	content: "";
	position: absolute;
	background-color: black;
	width: 3px;
	height: 9px;
}
.accord li i:before {
	transform: translate(-2px, 0) rotate(45deg);
}
.accord li i:after {
	transform: translate(2px, 0) rotate(-45deg);
}
.accord li input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 34px;
	z-index: 1;
	opacity: 0;
}
.accord li input[type=checkbox]:checked ~ div {
	margin-top: 0;
	max-height: 34px;
	opacity: 0;
	transform: translate(0, 50%);
}
.accord li input[type=checkbox]:checked ~ i:before {
	transform: translate(2px, 0) rotate(45deg);
}
.accord li input[type=checkbox]:checked ~ i:after {
	transform: translate(-2px, 0) rotate(-45deg);
}



@keyframes flipdown {
	0% {
		opacity: 0;
		transform-origin: top center;
		transform: rotateX(-90deg);
	}
	5% {
		opacity: 1;
	}
	80% {
		transform: rotateX(8deg);
	}
	83% {
		transform: rotateX(6deg);
	}
	92% {
		transform: rotateX(-3deg);
	}
	100% {
		transform-origin: top center;
		transform: rotateX(0deg);
	}
}

