@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.btn-primary:hover{
	background-color: #86d0f4 !important;
	border-color: #86d0f4 !important;
	color: white !important;
	background-image: none !important;
}

button:hover{
	border-color: #00266C!important;
	color: white!important;
	background-image: none !important;
	background-color: #021f54 !important;
}

.custom_footer-wrap{
	background-color: #004b93;
	color: #fff;
	margin-top: 20px;
	width: 100%;
}


.custom_footer-wrap .col-three > div {
	float: left;
}
.custom_footer-wrap.col-three .col-left {
	text-align: left;
	display: none;
}
.custom_footer-wrap .col-three .col-center {
	text-align: center;
	width: 50%;
}
.custom_footer-wrap .col-three .col-right {
	text-align: center;
	width: 50%;
}

body.home .custom_footer-wrap .col-three .col-left {
	width: 30%;
	display: block;
}
body.home .custom_footer-wrap .col-three .col-center {
	width: 40%;
}
body.home .custom_footer-wrap .col-three .col-right {
	width: 30%;
}

.custom_footer-wrap h3 {
	text-transform: uppercase;
	color: #fff;
	font-size: 11pt;
	margin-bottom: 10px;
	font-weight: 300;
}

.custom_footer-wrap .links-social {}
.custom_footer-wrap .links-social li,
.custom_footer-wrap .links-social li a {
	width: 46px;
	height: 46px;
}

.custom_footer-wrap .links-social li {
	display: inline-block;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background-color: #86d0f4;
	text-align: center;
	margin: 0 3px;
}
.custom_footer-wrap .links-social li:hover { 
	background-color: #004b93; }

.custom_footer-wrap .links-social li a {
	background-image: url('../img/sprite_social.png');
	background-repeat: no-repeat;
	text-indent: -1000px;
	overflow: hidden;
	display: block;
}

.last_offers {
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
}

.sort_block{

}

.pagination_block{
	display: flex;
    float: left;
    clear: left;
}

.search_button:hover{
	background-color: #021f54;
	border: 0px;
}

.eap-sidenav > ul > li > ul .current-menu-item a, .eap-sidenav > ul > li > ul a:hover{
	border-bottom: 2px solid #021f54 !important;
    background: none !important;
}

.eap-sidenav > ul > li > ul li.current-menu-item:before, .eap-sidenav > ul > li > ul li:hover:before{
	color: #021f54 !important;
}

.table_breadcrumb_offer{
	height: 138px;
    margin-bottom: 1rem;
	background: #F5F5F5;
    color: #6c757d;
    width: 900px;
    display: inline-block;
    position: absolute;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	padding-left: 40px;
}

.search_button{
    color: white;
    border: 0px;
    border-radius: 4px;
    background: linear-gradient(105.05deg, #004B93 0%, #0A437A 100%);
    width: 250px;
    position: absolute;
    right: 35px;
    bottom: 35px;
    height: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    top: 29px;
}

.heading_bg{
	background: linear-gradient(90deg, rgba(26,94,162,1) 0%, rgba(98,166,233,1) 0%, rgba(3,79,155,1) 36%, rgba(3,79,155,1) 66%, rgba(98,166,233,1) 100%);
	width: 100%;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    line-height: 59px;
}

.serive_square{
	margin-bottom: 0px !important;
    font-size: 21px;
    color: #021f54;
    line-height: 64px;
	margin-left: 20px;
	font-family: Helvetica;
}

.service_square_block{
	position: inherit;
	display: inline-flex;
	margin-top: 20px;
}

.offer_apply_link{
	display: flex; 
	flex-flow: row-reverse;
}

.offer_apply_link:hover{
	text-decoration: none!important;
}

.posts_heading{
	font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 23px;
	color: #021F54;
	margin-top:35px;
}

.equal_opp_title{
	padding-right: 40px;
    padding-left: 40px;
    background-color: #021f54;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    color: white;
    line-height: 73px;
    font-weight: bolder;
    font-size: 28px;
}

.card-header{
	background-color: #76c4eb !important;
    padding-top: 5px !important;
	padding-bottom: 5px !important;
	position: relative;
	border-bottom: none!important;
}

.custom_dropdown_feedback{
	text-align: center;
    font-size: 18px !important;
    line-height: 25px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#primary.two-sidebars #content{
	width: 100% !important;
}

.custom_card_body{
	padding: 0px !important;
    margin-left: 40px !important;
}

.custom_dropdown_arrow{
	height: 12px;
    position: absolute;
    right: 30px;
    top: 26px;
}

.rotate_dropdown_arrow{
	transform: rotate(180deg);
}

.upper_bracket{
	width: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.lower_bracket{
	width: 40px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.blue_cant_ik{
	background-color: #021f54;
    height: 60px;
    width: 41px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-right: 13px solid white;
}

.custom_dropdown_btn{
    font-size: 25px;
    color: #021f54;
    text-transform: uppercase;
    margin-left: 45px;
	font-weight: bold;
	text-decoration: none !important;
	width: 100%;
	text-align: left;
}

.diversity_img_row{
	display: inline-flex;
	margin-top: 35px;
}

.diversity_img_row>img{
	width: 64px;
    height: 64px;
}

.diversity_img_text>span{
	color:#004b93;
	font-size: 24px;
	font-weight: bold;
}

.custom_body_heading{
    color: white;
	font-size: 22px;
    text-transform: uppercase;
    background-color: #004b93;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 50px;
    width: fit-content;
    margin-top: 20px;
}

.blck_number{
	background-color: #76c4eb;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 62px;
}

.blck_descr{
	color: #76c4eb;
	font-style: italic;
	font-size: 18px;
	line-height: 25px;
	padding-top: 20px;
}

.blck_name{
	padding-top: 20px;
	color:#004b93;
	font-size: 18px;
	line-height: 25px;
	width: 60%;
    text-align: center;
}

.blck_img{
	width: 50px;
    height: 50px;
    margin-top: 10px;
}

.diversity_img_row>.diversity_img_text{
    font-size: 18px;
    color: black;
    margin-left: 35px;
    padding-top: 10px;
    line-height: 20px;
}

.actions_blck_row{
	margin-top:25px;
}

.my_custom_card{
    margin-bottom: 60px;
    border: none !important;
}

.flying_plane{
    position: absolute;
    left: -80px;
    bottom: -80px;
    width: 400px;
}

.career_galley_banner{
	width:100%;
	height: 317px;
	background-size:cover;
	position: relative;
	margin-bottom: 80px;
}

.job_description_banner{
    width: 100%;
    height: 507px;
    background-size: cover;
    position: relative;
    margin-bottom: 40px;
}

.job_description_banner_title{
	height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    color: #021f54;
    font-size: 50px;
    line-height: 100px;
    font-weight: bold;
    width: 376px;
    vertical-align: middle;
    margin: auto;
    font-family: Helvetica;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom_dropdown_feedback_author{
	color: #021f54;
    font-style: italic;
    text-align: center;
    font-size: 18px;
    float: right;
}

.in_brief_img{
	height: 80px;
	margin-bottom: 15px;
}

.in_breif_title{
	color:#021f54;
	font-size:30px;
	font-style: italic;
	margin-top:100px;
	margin-bottom: 50px;
}

.employment_link_tab{
    margin-top: 45px;
    background-color: #f7f6f6;
    padding-top: 25px;
	border: 2px solid #021f54;
	margin-bottom:45px;
}


.employment_body_link{
    font-size: 23px;
    color: black;
    text-decoration: none!important;
    line-height: 60px;
}

.employment_body_link_block{
	position: relative;
	width:100%;
	padding-left: 50px;
	border-bottom: 1px solid black;
}

.employment_body_link:hover{
	color:black;
	text-decoration: none!important;
}

.employment_body_link_block > img{
    height: 20px;
    position: absolute;
    right: 50px;
    top: 20px;
}

.employment_link_title{
	text-transform: uppercase;
    color: #021f54;
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.in_brief_bold{
	color:#021f54;
	font-family: Helvetica;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
}

.check_latest_offers{
	color:#021f54;
	font-size: 21px;
	text-decoration: underline;
}

.in_brief_small{
	color:black;
	font-size: 22px;
}

.job_gallery_white{
	background-color: #D6EFFB;
	height: 229px;
	width:100%;
	position: relative;
}

.job_gallery_blue{
	background-color: #021f54;
	height: 229px;
	width:100%;
	position: relative;
}

.job_gallery_white>a>.job_gallery_inner_container>.job_gallery_text{
	color: black;
    font-size: 24px;
    line-height: 25px;
	text-align: center;
	margin-bottom: 10px;
}
.job_gallery_blue>a>.job_gallery_inner_container>.job_gallery_text{
	color:white;
	font-size: 24px;
	line-height: 25px;
	text-align: center;
	margin-bottom: 15px;
}

.job_gallery_inner_container{
	width: 100%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.full_column_img{
	width:100%;
}

.objectives_blocks{
	margin-top: 55px;
    margin-bottom: 80px;
}

.objectives_blocks_descr{
	color: #004b93;
	font-size: 18px;
	text-align: center;
	margin-top:25px;
}

.objectives_blocks>.col-md-4>center>img{
	width: 100px;
	text-align: center;
}

.actions_block{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;
	margin-top:50px;
	margin-bottom:80px;
	border:1px solid #004b93;
	border-radius: 20px;
	position: relative;
}

.custom_dropdown_btn:hover{
	color: #021f54 !important;
	text-decoration: none !important;
}

.posts_heading > img {
	height: 34px;
}

.post_card_like{
	padding-top: 70px;
	position: relative;
	text-align: center;
	color:#021f54;
	font-size: 20px;
	margin-top: 25px;
	height: auto;
	width:100%;
	padding: 15px;
	background: #F5F5F5;
}

.post_card_img{
	position: absolute;
	top:10px;
	right:15px;
	height: 35px;
}

.breadcrumbs {
    font-size: 16px !important;
}

.offer_apply_btn{
    color: white;
    border: 0px;
    border-radius: 4px;
    background: linear-gradient(105.05deg, #004B93 0%, #0A437A 100%);
    padding-left: 60px;
    height: 45px;
    padding-right: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
}
.offer_apply_btn:hover {
    border-color: #00266C!important;
    color: white!important;
    background-image: none !important;
    background-color: #021f54 !important;
}

.post_card_title{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
    text-align: left;
	color: #021F54;
}

.post_card_context{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.post_card_link{
	font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #021F54;
}

.custom_hr {
    width: 100%;
    height: 1px;
	background-color: #aaaaaa;
	margin-top: 80px;
}

.sort_labels{
	color:#004b93;
	font-size: 16px;
	margin-bottom: 0px;
}

.custom_offer_bg{
    background: #F5F5F5;
    cursor: pointer;
    height: 80px;
    position: relative;
    margin-bottom: 6px;
}
.job_app_head{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
	color: #021F54;
	width: 45%;
}

.page-item.active .page-link{
	background-color: #004b93 !important;
    border-color: #004b93 !important;
}

.page-link{
	color: #004b93;
}

.card_dates{
	font-size: 18px;
}
.offer_card_type{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #07447F;
}
.eap-sidenav > ul{
	background: #F5F5F5 !important;
}

.eap-sidenav > ul > li.current-menu-item > a, .eap-sidenav ul > li.current-post-parent > a, .eap-sidenav ul > li.current-menu-parent > a, .menu-parent-video ul > li.video a, .menu-parent-image ul > li.image a, .menu-parent-v360 ul > li.v360 a{
	background: linear-gradient(279.27deg, #021F54 0%, #0E306D 100%);
	font-family: Roboto !important;
	font-weight: 300 !important;
	color: white !important;
	font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.eap-sidenav > ul > li.current-menu-item > a:after, .eap-sidenav > ul > li.current-post-parent > a:after, .eap-sidenav > ul > li.current-menu-parent > a:after, .menu-parent-video ul > li.video a:after, .menu-parent-image ul > li.image a:after, .menu-parent-v360 ul > li.v360 a:after{
	width: 0 !important;
    height: 0 !important;
    border-style: solid !important;
    border-width: 23.5px 0 23.5px 13px !important;
    border-color: transparent transparent transparent #021f54 !important;
}
#menu-qui-sommes-nous-en{
	margin-bottom: 0px !important;
    border-bottom: 1px solid #aaaaaa !important;
}
.card_dates{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.offer_view_btn{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #021F54 !important;	
}

.offer_view_btn>img{
	width: 18px;
	height: 18px;
	margin-left: 6px;
}

.offer_job_card{
	display: inline-flex;
	padding-left: 19px;
	padding-top: 29px;
	padding-right: 19px;
}

.page_banner{
    width: 100%;
    height: 313px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.breadcrumbs{
    margin-bottom: 18px !important;
}

.banner_title{
    width: auto;
    background-color: #021f54;
    position: absolute;
    right: 0px;
    top: 120px;
    padding-left: 26px;
    padding-right: 26px;
    text-align: center;
    color: white;
    line-height: 74px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
}

a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
.special_phone{
	width: 100%;
	margin: 0px;
	margin-bottom: -7px;
	margin: 0px !important;
}
.parent_number{
	position: relative;
	top: -7px;
}
.modal-header {
	height: 45px;
	display: flex;
	justify-content: center !important;
	align-items: center;
	border-bottom: none !important;
}
.modal-header span {
	display: block;
	height: 12px;
	width: 12px;
	margin: 5px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.2);
}
.modal-header span.is-active {
	background: rgba(0, 0, 0, 0.4);
	background: #007bff;
}
.my_breadcrumb{
	padding: 0.75rem 1rem;
	margin-bottom: 1rem;
	background-color: #e9ecef;
	border-radius: 0.25rem;
	color: #6c757d;
}





.accord > li > div {
	color: rgba(48, 69, 92, 0.8);
	line-height: 26px;
	letter-spacing: 1px;
	position: relative;
	overflow: hidden;
	max-height: 800px;
	opacity: 1;
	transform: translate(0, 0);
	margin-top: 14px;
/*	z-index: 2;*/
}

.accord {
	list-style: none;
	perspective: 900;
	padding: 0;
	margin: 0;
}
.accord li {
	position: relative;
	padding: 0;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 18px;
}

.collapse_li{
    border-top: 1px dotted #dce7eb;
}

.accord li:nth-of-type(1) {
	animation-delay: 0.5s;
}
.accord li:nth-of-type(2) {
	animation-delay: 0.75s;
}
.accord li:nth-of-type(3) {
	animation-delay: 1s;
}
.accord li:last-of-type {
	padding-bottom: 0;
}
.accord li i {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 12px;
	right: 0;
}
.accord li i:before, ul li i:after {
	content: "";
	position: absolute;
	background-color: black;
	width: 3px;
	height: 9px;
}
.accord li i:before {
	transform: translate(-2px, 0) rotate(45deg);
}
.accord li i:after {
	transform: translate(2px, 0) rotate(-45deg);
}
.accord li input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 34px;
	z-index: 1;
	opacity: 0;
}
.accord li input[type=checkbox]:checked ~ div {
	margin-top: 0;
	max-height: 34px;
	opacity: 0;
	transform: translate(0, 50%);
}
.accord li input[type=checkbox]:checked ~ i:before {
	transform: translate(2px, 0) rotate(45deg);
}
.accord li input[type=checkbox]:checked ~ i:after {
	transform: translate(-2px, 0) rotate(-45deg);
}



@keyframes flipdown {
	0% {
		opacity: 0;
		transform-origin: top center;
		transform: rotateX(-90deg);
	}
	5% {
		opacity: 1;
	}
	80% {
		transform: rotateX(8deg);
	}
	83% {
		transform: rotateX(6deg);
	}
	92% {
		transform: rotateX(-3deg);
	}
	100% {
		transform-origin: top center;
		transform: rotateX(0deg);
	}
}

#bandeau-header .bloc-outils .eap-lang-selector a{
	margin-left: 15px;
}

#bandeau-header .bloc-outils .eap-lang-selector a > img{
	height: 18px;
}

#bandeau-header .bloc-outils .eap-lang-selector{
	display: flex;
	align-items: center;
	justify-content: center;
}

.eap-sidenav > ul > li > a {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 19px !important;
    color: #5E6775 !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
	line-height: 19px !important;
	font-family: Roboto;
}

.eap-sidenav > ul > li{
	border-bottom: none !important;
}

.eap-sidenav > ul > li > ul {
	border-top: none !important;
	padding-top: 7px;
    padding-bottom: 7px;
}

#menu-qui-sommes-nous-en {
	border-bottom: none !important;
}

.eap-sidenav > ul > li > ul a{
	font-family: Roboto !important;
	font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #757B84 !important;
}

.eap-sidenav > ul > li > ul li{
	position: relative !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 19px !important;
}

.eap-sidenav > ul > li > ul li > img{
	margin-right:10px;
	top: -2px;
    position: relative;
}

.eap-sidenav > ul > li > ul li:before{
	display: none !important;
}

.sidebar-left{
	width: 288px !important;
	margin-right: 30px;
}

#bandeau-header{
	margin-top: 21px !important;
}

.logo-eap{
	margin-left: 0px !important;
}

#primary{
	margin-top: 15px !important;
	display: flex !important;
}

.site-header{
	box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25) !important;
}

#bandeau-header .bloc-outils {
	margin-right: 0px !important;
}

#site-navigation{
	float: right !important;
    margin-left: 0px !important;
    text-align: initial !important; 
}

.nav-menu-eap > li {
    margin-left: 20px !important;
    padding-top: 12px;
    padding-bottom: 5px;
}

.nav-menu-eap > li {
    margin-right: 0px !important;
}

.logo-eap{
	margin-top: 24px !important;
	width: 153px !important;
    height: 63px !important;
}

.site-header{
	height: 111px !important;
}

.main-navigation li a{
	line-height: initial !important;
}

.nav-menu-eap{
	height: auto !important;
}

.nav-menu-eap > li > ul > li > a{
	text-transform: none;
    height: 32px !important;
    display: flex !important;
    align-items: center !important;
    text-align: left !important;
}

.sidebar_group{
	display: flex;
    flex-direction: column;
}

.email_signup{
	background: #F5F5F5;
	margin-top:20px;
	padding-top: 19px;
	padding-left: 19px;
	padding-right: 19px;
	padding-bottom: 22px;
}

.email_signup > p{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #484848;
	margin-bottom: 30px;
}

.email_signup > input{
	background: #FFFFFF;
	border: 2px solid #95D3F6;
	box-sizing: border-box;
	border-radius: 8px;
	height: 45px;
	width: 100%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color:black;
	padding-left: 13px;
}

.right_side_content{
	width: 100% !important;
}

.breadcrumbs a:first-child, .breadcrumbs span:first-child {
	font-family: Roboto;
    font-style: normal;
    font-weight: normal;
	font-size: 16px !important;
    line-height: 19px !important;
    color: #757B84 !important;
}

#primary.two-sidebars #content{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.breadcrumbs a, .breadcrumbs span{
	margin: 0 0.1em !important;
}

.breadcrumbs{
    padding-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CFCFCF !important;
}

::placeholder {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #757B84;
}

.custom_sidebar_hr{
	height: 1px;
    width: 100%;
    background-color: #CFCFCF;
    margin-top: 2px;
    margin-bottom: 5px;
}

.hr_container{
	padding-left: 19px;
    padding-right: 19px;
}

.offers_table_title{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #B6BCC6;
}

.offers_table_titles{
	width: 100%;
    display: inline-flex;
    padding-bottom: 21px;
    padding-left: 19px;
	padding-top: 16px;
	padding-right: 19px;
}

.custom_offer_bg:hover{
	cursor: pointer;
	background: #e6e6e6 !important;
	transition: all 0.3s ease-in-out;
}

.footer-wrap{
	background: linear-gradient(104.9deg, #0A4E8F 0%, #0A437A 100%);
}

.footer_email_sub{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;

	color: #FFFFFF;
}

.footer_email_container{
	display: inline-flex;
}

.footer_email_container > img{
	width: 18px;
	height: 18px;
	margin-right: 9px;
}

.footer_social_list > a{
	margin-left: 8px;
}
.footer_social_list{
	margin-top: 23px;
	text-align: right;
}
.right_side_footer_container{
	display: flex;
    flex-direction: column;
    float: right;
}
footer[role="contentinfo"] {
	margin-top: 37px !important;
}
#colophon .site-info {
    bottom: 25px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.copyright_text{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */


	color: rgba(255, 255, 255, 0.6);
}

.left_side_footer_container{
	float: left;
}

.copyright_text{
	margin-top:30px;
}

.left_side_footer_container > img{
	height: 62px;
}

.large_av_btn{
    color: white;
    border: 0px;
    border-radius: 4px;
    background: linear-gradient(105.05deg, #004B93 0%, #0A437A 100%);
    width: 100%;
    height: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-top:15px;
}

.content_query_block{
	line-height: 1.3;
    font-family: Helvetica;
    font-size: 18px;
    padding-right: 50px;
    margin-top: 30px;
    padding-left: 50px;
    color: #000000 !important;
}